.botones {
  background-color: #7dc4ec !important;
}

.color-secundario {
  color: #22a9e1;
}

.fondo {
  background-color: #f4fbff;
}

.alturaModal {
  height: calc(100vh - 20px);
}

.alturaModal::-webkit-scrollbar {
  display: none;
}

@media (min-width: 640px) {
  .containerLayout {
  }

  .grid-admin {
    grid-template-rows: calc(40vh - 50px) calc(60vh - 50px);
  }

  .cont-pacientes {
    grid-row: 2/3;
  }

  .cont-pacientes-scroll {
    height: calc(60vh - 74px);
  }

  .cont-pacientes-scroll::-webkit-scrollbar {
    display: none;
  }
  .boxAdmin {
    height: calc(100% - 8rem);
  }
}

.shadowPersonalizado {
  box-shadow: 0px 0px 7px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.go4109123758 {
  position: sticky !important;
}

.containerFechaHistorico {
  text-align: right;
}

.gridAdministrador {
  height: calc(100% - 115px);
  max-height: 308px;
}

.alinearSelectGrafico {
  text-align: -webkit-right;
}

.disabled .disabledSelect {
  background-color: #fafafa;
}
