.botones {
  background-color: #7dc4ec !important;
}

.color-secundario {
  color: #22a9e1;
}

.fondo {
  background-color: #f4fbff;
}

.alturaModal {
  height: calc(100vh - 20px);
}

.alturaModal::-webkit-scrollbar {
  display: none;
}

@media (min-width: 640px) {
  .containerLayout {
  }

  .grid-admin {
    grid-template-rows: calc(40vh - 50px) calc(60vh - 50px);
  }

  .cont-pacientes {
    grid-row: 2/3;
  }

  .cont-pacientes-scroll {
    height: calc(60vh - 74px);
  }

  .cont-pacientes-scroll::-webkit-scrollbar {
    display: none;
  }
  .boxAdmin {
    height: calc(100% - 8rem);
  }
}

.shadowPersonalizado {
  box-shadow: 0px 0px 7px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.go4109123758 {
  position: sticky !important;
}

.containerFechaHistorico {
  text-align: right;
}

.gridAdministrador {
  height: calc(100% - 115px);
  max-height: 308px;
}

.alinearSelectGrafico {
  text-align: -webkit-right;
}

.disabled .disabledSelect {
  background-color: #fafafa;
}

/**/

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: translate(-250px, -120px);
}

section::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: translate(250px, 160px);
}

.container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 50rem;
  background: rgb(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #1c4ed8;
}

.month {
  width: 100%;
  height: 12rem;
  border-radius: 10px;
  background-color: #0fa4e9;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 33px;
  padding-top: 10%;
  align-items: center;
  text-align: center;
}

.month span {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #0fa4e9;
}
